{% extends 'RCSDataBundle::base.html.twig' %}

{% block additionalScripts %}
    {{ parent() }}

    <script>
        $(function() {
            if($('#rcs_bundle_databundle_reporttype_latitude').val() == '' || $('#rcs_bundle_databundle_reporttype_longitude').val() == '')
            {
                if(navigator && navigator.geolocation && navigator.geolocation.getCurrentPosition)
                {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        latitude = position.coords.latitude;
                        longitude = position.coords.longitude;

                        $('#rcs_bundle_databundle_reporttype_latitude').val(latitude);
                        $('#rcs_bundle_databundle_reporttype_longitude').val(longitude);
                    });
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <h1>View/Edit Report</h1>

    <form action="{{ path('report_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Save Changes</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('report') }}">
            Cancel
        </a>
    </li>
    <li>
        <form action="{{ path('report_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
