{% extends 'RCSDataBundle::base.html.twig' %}

{% block content %}
    <h1>Report Data</h1>

    {% if is_granted('ROLE_USER') %}
        <p><a href="{{ path('report_new') }}" class="btn"><span class="icon-plus"></span> New Report</a></p>
    {% endif %}

    <table class="striped">
        <thead>
            <tr>
                <th></th>
                <th>Site</th>
                <th>Timestamp</th>
                <th>Participants</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('report_show', { 'id': entity.id }) }}"><span class="icon-search"></span></a>
                    {% if user is defined and (is_granted('ROLE_ADMIN') or entity.reporter.id == user.id) %}
                        <a href="{{ path('report_edit', { 'id': entity.id }) }}"><span class="icon-pencil"></span></a>
                    {% endif %}
                </td>
                <td>{% if entity.site %}{{ entity.site.name }}{% endif %}</td>
                <td>{% if entity.timestamp %}{{ entity.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.participants }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
