{% extends 'RCSDataBundle::base.html.twig' %}

{% block content %}
    <h1>Report list</h1>

    <table class="striped">
        <thead>
            <tr>
                <th></th>
                <th>Lat, Lng</th>
                <th>Timestamp</th>
                <th>Participants</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('report_edit', { 'id': entity.id }) }}">edit</a></td>
                <td>{% if entity.latitude and entity.longitude %}{{ entity.latitude|number_format(2) }}, {{ entity.longitude|number_format(2) }}{% endif %}</td>
                <td>{% if entity.timestamp %}{{ entity.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.participants }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('report_new') }}">
                New Report
            </a>
        </li>
    </ul>
    {% endblock %}
