{% extends 'RCSDataBundle::base.html.twig' %}

{% block additionalScripts %}
    {{ parent() }}

    <script>
        $(function() {
            var now = new Date();

            $('#rcs_bundle_databundle_reporttype_timestamp_date_month').val(now.getMonth() + 1);
            $('#rcs_bundle_databundle_reporttype_timestamp_date_day').val(now.getDate());
            $('#rcs_bundle_databundle_reporttype_timestamp_date_year').val(now.getFullYear());

            if($('#rcs_bundle_databundle_reporttype_latitude').val() == '' || $('#rcs_bundle_databundle_reporttype_longitude').val() == '')
            {
                if(navigator && navigator.geolocation && navigator.geolocation.getCurrentPosition)
                {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        latitude = position.coords.latitude;
                        longitude = position.coords.longitude;

                        $('#rcs_bundle_databundle_reporttype_latitude').val(latitude);
                        $('#rcs_bundle_databundle_reporttype_longitude').val(longitude);
                    });
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <h1>New Report</h1>
    <p>Fields marked with <span class="required"></span> are required.</p>
    <form action="{{ path('report_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{{ path('report') }}" class="btn">
                Cancel
            </a>
        </p>
    </form>

{% endblock %}
