{% extends 'RCSDataBundle::base.html.twig' %}

{% block content %}
    <h1><a href="{{ path('report') }}">Report Data</a>: {% if entity.site %}{{ entity.site.name }}, {% endif %}{{ entity.timestamp|date('Y-m-d') }}</h1>
    {% if app.user is defined and (is_granted('ROLE_ADMIN') or entity.reporter.id == user.id) %}
        <p><a href="{{ path('report_edit', { id: entity.id }) }}" class="btn"><span class="icon-pencil"></span> Edit</a></p>
    {% endif %}

    <h2>Basic Information</h2>
    <dl>
        <dt>Site</dt>
        <dd>{% if entity.site %}<a href="{{ path('site_show', { id: entity.site.id }) }}">{{ entity.site.name }}</a>{% else %}&mdash;{% endif %}</dd>

        <dt>Date &amp; Time</dt>
        <dd>{{ entity.timestamp|date('Y-m-d H:i:s') }}</dd>

        <dt>Participants</dt>
        <dd>{{ entity.participants }}</dd>

        <dt>Used RCS Test Kit?</dt>
        <dd>{{ entity.rcsTestKitUse }}</dd>

        <dt>Comments</dt>
        <dd>{{ entity.comments }}</dd>
    </dl>

    <h2>Surroundings</h2>
    <dl>
        <dt>Recent Precipitation</dt>
        <dd>{{ precipitation_types[entity.precipitationDescription] }}</dd>

        <dt>Surrounding Land</dt>
        <dd>{{ land_types[entity.landDescription] }}</dd>

        <dt>Air Temperature</dt>
        <dd>{{ entity.airTemperatureC }} &deg;C</dd>
    </dl>

    <h2>River Water</h2>
    <dl>
        <dt>Turbidity</dt>
        <dd>{{ entity.turbidityNtu }} NTU</dd>

        <dt>Water Temperature</dt>
        <dd>{{ entity.temperatureC }} &deg;C</dd>

        <dt>Dissolved Oxygen</dt>
        <dd>{{ entity.dissolvedOxygenPpm }} ppm</dd>

        <dt>pH</dt>
        <dd>{{ entity.ph }}</dd>
    </dl>
{% endblock %}
