{% extends 'RCSDataBundle::base.html.twig' %}

{% block content %}
    <h1>Site list</h1>

    <p><a href="{{ path('site_new') }}" class="btn"><span class="icon-plus"></span> New Site</a></p>

    <table class="striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('site_show', { 'id': entity.id }) }}"><span class="icon-search"></span></a>
                    <a href="{{ path('site_edit', { 'id': entity.id }) }}"><span class="icon-pencil"></span></a>
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.latitude }}</td>
                <td>{{ entity.longitude }}</td>
                <td>{{ entity.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
