{% extends 'RCSDataBundle::base.html.twig' %}

{% block content %}
    <h1>Sites</h1>
    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
        <p><a href="{{ path('site_new') }}" class="btn"><span class="icon-plus"></span> New Site</a></p>
    {% endif %}

    <table class="striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('site_show', { 'id': entity.id }) }}"><span class="icon-search"></span></a>
                    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('site_edit', { 'id': entity.id }) }}"><span class="icon-pencil"></span></a>
                    {% endif %}
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.latitude }}</td>
                <td>{{ entity.longitude }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
