{% extends 'RCSDataBundle::base.html.twig' %}

{% block content %}
    <h1><a href="{{ path('site') }}">Sites</a>: {{ entity.name }}</h1>

    <dl>
        <dt>Name</dt>
        <dd>{{ entity.name }}</dd>
        <dt>Latitude</dt>
        <dd>{{ entity.latitude }}</dd>
        <dt>Longitude</dt>
        <dd>{{ entity.longitude }}</dd>
        <dt>Description</dt>
        <dd>{{ entity.description }}</dd>
    </dl>

    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('site_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
    {% endif %}
{% endblock %}
